/* Contact Section Styles */
.contact {
    padding: 3rem 1.3rem;
    background-color: #fdf7e3; /* Soft, friendly background */
    color: #333;
    text-align: center;
}

.contact-container {
    max-width: 1200px;
    margin: 0 auto;
}

.contact-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ff914d;
}

.contact-description {
    font-size: 1.2rem;
    margin-bottom: 2.2rem;
    color: #555;
}

.contact-content {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
    gap: 2rem;
}

@media (min-width: 768px) {
    .contact-content {
        grid-template-columns: 1fr 1fr;
    }
}

/* Contact Form */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-input,
.contact-textarea {
    width: 95%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
}

.contact-textarea {
    height: 120px;
}

.contact-button {
    background-color: #ff914d;
    color: #fff;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #e06c28;
}

/* Contact Details */
.contact-details {
    background-color: #fff;
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-details h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #ff914d;
}

.contact-details p {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #555;
}

/* Map */
.contact-map iframe {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}