/* Mobile */
.contact {
    padding: 0.1rem 1.3rem;
    background-color: var(--cream);
    color: #333;
    text-align: center;
}

.contact-container {
    max-width: 1200px;
    margin: 0 auto;
}

.contact-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #cc5c47;
}

.contact-description {
    margin-bottom: 2.2rem;
    color: var(--dark);
}

.contact-content {
    display: block;
    margin-bottom: 1rem;
    gap: 2rem;
}

.contact-form {
    display: block;
    width: 100%;
}

.contact-input {
    width: 95%;
    padding: 12px;
    border: 2px solid var(--peach);
    margin-bottom: 1rem;
    border-radius: 5px;
    outline: none;
    background: transparent;
}

.contact-input::placeholder {
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
}


.contact-input:focus + .floating-label,
.contact-input:not(:placeholder-shown) + .floating-label {
    top: 5px;
    color: var(--dark);
}


.contact-textarea {
    width: 95%;
    height: 120px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    margin: 1rem 0;
}

.contact-button {
    background-color: var(--peach);
    color: var(--dark);
    font-weight: bold;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: var(--dark);
    color: var(--light);
}

.contact-details {
    background-color: var(--peach);
    padding: 0.1rem 0;
    width: 100%; /* Full width on mobile */
    border-radius: 0.6rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: block;
}

.working-hours dl {
    display: grid;
    color: var(--dark);
    font-size: 1.2rem;
}

.working-hours dt {
    font-weight: bold;
    color: var(--dark);
}

.working-hours dd {
    margin: 0;
    color: var(--dark);
}

.contact-details h3 {
    margin-bottom: 10px;
    color: var(--dark);
}

.contact-details p {
    margin-bottom: 5px;
    color: var(--dark);
}

.follow-us {
    text-align: center;
    margin-top: 20px;
}

.follow-us a {
    font-size: 2.5rem;
    margin: 0 1rem;
    color: var(--dark);
    transition: 0.3s;
}

.follow-us a:hover {
    color: #ff3300;
}

.contact-info a {
    color: var(--dark);
    text-decoration: none;
    font-weight: bold;
    margin-left: 1rem;
}

.contact-info p {
    margin-left: 1rem;
}

.contact-info a:hover {
    text-decoration: underline;
}


/* 🔹 Tablet */
@media (min-width: 768px) {
    .contact-input {
        height: 7rem;
        margin-bottom: 1rem;
        border: 2px solid var(--primary);
        border-radius: 0.5rem;
    }

    .contact-input::placeholder {
        color: var(--dark);
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
    }

    .contact-form {
        width: 50%;
    }

    .contact-details {
        width: 50%;
    }
}

/* Small Screen */
@media (max-width: 600px) {
    .contact-details {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .contact-content {
        display: flex;
    }

    .contact-input {
        width: 95%;
        padding: 12px;
        border: 3px solid var(--peach);
        margin-bottom: 1rem;
        max-height: 3rem;
        outline: none;
        font-style: italic;
        background: transparent;
    }
}