:root {
    --coral: #E27C65;
    --peach: #f9af77;
    --sage: #C4C7A9;
    --brown: #4B3430;
    --cream: #fefaec;

    --primary: var(--coral);
    --secondary: var(--peach);
    --accent: var(--sage);
    --dark: var(--brown);
    --light: var(--cream);

    font-size: 16px;
    --main-font: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
    :root {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    :root {
        font-size: 14px;
    }
}

html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    font-family: var(--main-font);
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

h1 {
    font-size: clamp(2rem, 5vw, 2.5rem);
}

h2 {
    font-size: clamp(1.75rem, 4vw, 2rem);
}

h3 {
    font-size: clamp(1.5rem, 3.5vw, 1.75rem);
}

p, button, input, textarea {
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.footer {
    background-color: var(--dark);
    list-style: none;
    position: absolute;
    width: 100%;
    font-size: clamp(1.5rem, 4vw, 1.5rem);
}

.footer-container {
    display: flex;
}

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
}

.row {
    justify-content: space-between;
    display: flex;
}

.footer-section {
    flex: 1;
    list-style: none;
    text-align: center;
}

.footer-social .social-icons a:hover {
    color: #ff914d;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #555;
    font-size: 0.9rem;
    color: var(--cream);
}

.link {
    text-decoration: none;
    color: var(--cream);
}

.link:hover {
    text-decoration: underline;
}

.footer-links .links-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 0 auto;
}

.input-container {
    position: relative;
    width: 100%;
}
.floating-label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    padding: 0 5px;
    transition: 0.3s;
    pointer-events: none;
}

@media (max-width: 480px) {
    .contact-input {
        height: auto;
        font-size: 1rem;
    }
}

.terms-container {
    width: 100%;
    padding-top: 4rem;
    text-align: center;
    background-color: var(--light);
    color: var(--dark);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.terms-container h1,
.terms-container h2 {
    color: var(--primary);
    margin-bottom: 1rem;
}

.terms-container h1 {
    text-align: center;
}

.terms-container ul {
    list-style: none;
    padding-left: 20px;
    margin-bottom: 1.5rem;
}

.terms-container p {
    margin-bottom: 1rem;
}
